
<%= form_for([@todolist, @todoitem]) do |f| %>
 
  <div class="field">
    <%= f.label :task_title %><br>
    <%= f.text_field :task_title %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :done%><br>
    <%= f.check_box :done %>
  </div>
  
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
