<p id="notice"><%= notice %></p>

<p>
  <strong>Task Title:</strong>
  <%= @todoitem.task_title%>
</p>

<p>
  <strong>Due date:</strong>
  <%= @todoitem.due_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todoitem.description %>
</p>

<p>
  <strong>Task Completed?:</strong>
  <%= @todoitem.done%>
</p>

  

<%= link_to 'Edit To do Item', edit_todolist_todoitem_path(@todolist, @todoitem) %> |
<%= link_to "Delete Todo item", [@todolist, @todoitem], 
        data: { confirm: "Task will be deleted?" }, 
        method: :delete %> |
<%= link_to 'Back to Todo List', todolist_path(@todolist) %>
